body
{
  background: url("http://tribumagazine.com/wp-content/uploads/2013/02/asap-rocky-508b4403e62bb.jpg");
}

#mycontainer
{
  text-align: center;
  width: 750px;
  margin: auto;
  background: black;
  height: 100%;
}

.song_title
{
  padding-top: 40px;
}

#lyric
{
  margin-top: 20px;
  color: #ffc31c;
}

#movie
{
  margin-top: 40px;
}

#explain
{
  margin: 55px auto 0 auto;
  padding: 30px 20px;
  width: 500px;
  height: 66px;
  background: white;
  border: 10px solid rgb(226, 226, 226);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgb(69, 69, 69);
}